Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Levels/StarterMap_BuiltData.uasset
Content/Levels/StarterMap.umap
*.mid
*.sf2
*.log
