Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.mid
*.sf2
*.log
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Content/Levels/StarterMap_BuiltData.uasset
